body {
	background-color:#eee;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande". sans-serif;
}
.container {
	margin-top:15px;
}
.btn {
	width:100%;
}
.map-container {

}
#usmap {
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:4px;
	position:relative;
	height:600px;
}
#usmap .datamaps-hoverover .hoverinfo {
	font-size:.8em !important;
}
#usmap circle.highlight {
	fill:#cc0000 !important;
	stroke:red !important;
}
#citylist {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.2em 0.5em;
	width: 100%;
}
#citylist table {
	width:100%;
}
#citylist table>tr:hover {
	background-color: #fafad2;
	cursor:pointer;
}
#citylist td {
	font-size: 0.8em;
	font-weight: 300;
}
#citylist td.beginsWith {
	horizontal-align:left;
	width:95%;
}
#citylist td.beginsWith .nextChar {
	color: #c00;
	font-weight: 600;
}
#citylist td.count {
	horizontal-align:right;
	text-align:right;
	white-space:nowrap;
}
#citylist td.count .percentage {
	color: #999;
	font-size: 0.8em;
}
.timer {
	font-size:.8em;
}

/* Bootstrap */
div.col-md-1,
	div.col-md-2 {
	padding:0;
}