body {
	background-color:#eee;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
p {
	font-size: 0.7em;
}

/* Bootstrap */
.container-fluid {
	margin: 0.7em;
	padding: 0;
}
.form-group {
	margin-bottom: 0.5em;
}
.row {
	margin: 0;
}
.col-md-10 {
	padding: 0;
}
.col-md-2 {
	padding-left: 0.7em;
	padding-right: 0;
}

/* Map */
.map-container {
	margin-bottom: 0.5em;
}
#usmap {
	border: 1px solid #ccc;
	display: inline-block;
	overflow: hidden;
	padding-bottom: 53%;
	position: relative;
	vertical-align: middle;
	width: 100%;
}
#usmap,
 #usmap .datamap {
	background-color: #f0ffff;
	border-radius: 4px;
}
#usmap .datamap,
 #usmap .loader {
	display: inline-block;
	left: 0;
	position: absolute;
	top: 0;
}
#usmap .datamap .labels text {
	font-size: 0.65em;
}
#usmap .datamap .labels rect {
	fill: #ffffff;
	fill-opacity: 0.75;
	font-size: 0.6em;
	stroke: #999;
	stroke-width: 1px;
}
#usmap circle.highlight {
	fill: #ffe700 !important;
	stroke: #ff4500 !important;
	stroke-width: 1px !important;
}
#citylist {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0.2em 0;
	width: 100%;
}
#citylist table {
	width: 100%;
}
#citylist tr.highlight {
	background-color: #ffffa0;
	cursor: pointer;
}
#citylist td {
	font-size: 0.8em;
	font-weight: 300;
	padding: 0.12em 0.5em 0.12em 0;
}
#citylist td.beginsWith {
	padding-left: 0.7em;
	text-align:left;
	width:95%;
}
#citylist td.beginsWith .nextChar {
	color: #ff4500;
	font-weight: 600;
}
#citylist td.count {
	padding-right: 0.3em;
	text-align:right;
	white-space:nowrap;
}
#citylist td.percentage {
	color: #999;
	font-size: 0.6em;
}
.credits {
	margin-top: 0.3em;
}
.credits .timer {
	float:left;
}
.credits .author {
	float:right;
}

/* Animated Loader 
*  Courtesy of Matt Smith
*  http://codepen.io/AllThingsSmitty/details/zxGyXd
*/
.loader {
	background-color:rgba(255,255,255,0.85);
	height:100%;
	left:0;
	position: absolute;
	top:0;
	width:100%;
}
.loader .text {
 	display:inline-block;
	font-size:0.8em;
	font-weight:500;
	position:absolute;
	text-align:center;
	top:46%;
	width:100%;
}
.swing {
	left:50%;
	margin:auto -2.5em;
	position:absolute;
	top:50%;
}
.swing div {
	float:left;
	width:1em;
	height:1em;
	border-radius:50%;
}
.swing div:nth-of-type(1) {
	background: -webkit-linear-gradient(left, #1E90FF 0%, #218FDD 100%);
	background: linear-gradient(to right, #1E90FF 0%, #218FDD 100%);
}
.swing div:nth-of-type(2) {
	background: -webkit-linear-gradient(left, #218FDD 0%, #248EBB 100%);
	background: linear-gradient(to right, #218FDD 0%, #248EBB 100%);
}
.swing div:nth-of-type(3) {
	background: -webkit-linear-gradient(left, #248EBB 0%, #278D9A 100%);
	background: linear-gradient(to right, #248EBB 0%, #278D9A 100%);
}
.swing div:nth-of-type(4) {
	background: -webkit-linear-gradient(left, #278D9A 0%, #2A8C78 100%);
	background: linear-gradient(to right, #278D9A 0%, #2A8C78 100%);
}
.swing div:nth-of-type(5) {
	background: -webkit-linear-gradient(left, #2A8C78 0%, #2E8B57 100%);
	background: linear-gradient(to right, #2A8C78 0%, #2E8B57 100%);
}
@-webkit-keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@keyframes ball-l {
  0%, 50% {
    -webkit-transform: rotate(0) translate(0);
    transform: rotate(0) translateX(0);
  }
  100% {
    -webkit-transform: rotate(50deg) translateX(-2.5em);
    transform: rotate(50deg) translateX(-2.5em);
  }
}
@-webkit-keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%, 100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0);
  }
}
@keyframes ball-r {
  0% {
    -webkit-transform: rotate(-50deg) translateX(2.5em);
    transform: rotate(-50deg) translateX(2.5em);
  }
  50%, 100% {
    -webkit-transform: rotate(0) translateX(0);
    transform: rotate(0) translateX(0)
  }
}
@-webkit-keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.57em);
    transform: translateX(-1.75em);
  }
}
@keyframes shadow-l-n {
  0%, 50% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: .125;
    -webkit-transform: translateX(-1.75);
    transform: translateX(-1.75em);
  }
}
@-webkit-keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%, 100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes shadow-r-n {
  0% {
    opacity: .125;
    -webkit-transform: translateX(1.75em);
    transform: translateX(1.75em);
  }
  50%, 100% {
    opacity: .5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.swing-l {
  -webkit-animation: ball-l .425s ease-in-out infinite alternate;
  animation: ball-l .425s ease-in-out infinite alternate;
} 
.swing-r {
  -webkit-animation: ball-r .425s ease-in-out infinite alternate;
  animation: ball-r .425s ease-in-out infinite alternate;
} 

@media screen and (max-width: 768px) {
	#usmap .datamap .labels text {
		font-size: 0.55em;
	}
	.city-table {
		padding: 0 0 0.5em;
	}
	.loader .text {
		top:42%;
	}	
}
